In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210201.csv')

In [ ]:
top = df['crim'].sort_values(ascending=False).head(10)
tenth = top.iloc[9]
print(tenth)

df['crim'] = np.where(df['crim'] >= tenth, tenth, df['crim'])
over80 = df[df['age'] >= 80]
print(over80['age'].describe())
print(round(over80['crim'].mean(), 2))

25.9406
count    240.000000
mean      93.230833
std        5.734098
min       80.300000
25%       88.750000
50%       94.500000
75%       98.200000
max      100.000000
Name: age, dtype: float64
5.76

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210202.csv')

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
train = df.iloc[:int(len(df) * 0.8)]
train = pd.DataFrame(train)

a = train['total_bedrooms'].std()

train_fill = train.fillna(train['total_bedrooms'].median())
b = train_fill['total_bedrooms'].std()

print(round(np.abs(a-b),2))

1.98

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import iqr

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210203.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
upper = np.mean(df['charges']) + 1.5 * np.std(df['charges'])
lower = np.mean(df['charges']) - 1.5 * np.std(df['charges'])

outlier = df[(df['charges'] >= upper) | (df['charges'] <= lower)]['charges'].sum()
print(int(outlier))

6421430

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import iqr

df= pd.read_csv('/content/drive/MyDrive/데이터 셋/P210301.csv')

print(df.info())
print(df.describe())

#print(sum(df.isnull().any(axis=1)))
#print(df.isna().sum(axis=0))
#print(df.isna().sum(axis=0).sum())
#print(df.isna().sum(axis=1))
#print(df.isna().sum(axis=1).sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [ ]:
df_drop = df.dropna()
train = df.iloc[:int(len(df) * 0.7), :]
print(int(np.quantile(train['housing_median_age'], q=0.25)))
print(int(train['housing_median_age'].quantile(0.25)))

19
19

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210302.csv')

print(df.info())
print(df.describe())

print(df.isnull().sum())
print(sum(df.isna().any(axis=1)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64
179

In [ ]:
na = df.isna().sum(axis=0) / len(df)
print(na)
na1 = pd.DataFrame(na)
na2 = na1.sort_values(by=0, ascending=False)

print(na2.index[0])

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.002245
dtype: float64
Age

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210303.csv')

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8707 entries, 0 to 8706
Columns: 198 entries, country to hiv_all_tpt_started
dtypes: float64(192), int64(2), object(4)
memory usage: 13.2+ MB
None
       iso_numeric         year         new_sp         new_sn         new_su  \
count  8707.000000  8707.000000    3902.000000    3563.000000    2832.000000
mean    431.706443  2000.083726    9885.233983    8259.832445    1231.455862
std     254.134254    11.846799   42747.037486   46295.279458   15780.358430
min       4.000000  1980.000000       0.000000       0.000000       0.000000
25%     212.000000  1990.000000      99.000000      61.000000       0.000000
50%     430.000000  2000.000000    1056.500000     523.000000       3.000000
75%     646.000000  2010.000000    5014.000000    2424.500000     205.500000
max     894.000000  2020.000000  642321.000000  932998.000000  787338.000000

              new_ep      new_oth        ret_rel       ret_taf       ret_tad  \
count    5232.000000  1395.000000    3360.000000   2216.000000   2230.000000
mean     3461.069381    61.111111    1123.068750    273.103339    615.426906
std     17591.089116   417.658065    6238.831319   1862.159308   5150.683155
min         0.000000     0.000000       0.000000      0.000000      0.000000
25%        43.000000     0.000000       3.000000      0.000000      0.000000
50%       368.500000     0.000000      93.000000      5.000000     15.000000
75%      1858.500000     0.000000     443.000000     77.000000    125.750000
max    476051.000000  7342.000000  112508.000000  39840.000000  77618.000000

       ...  hiv_elig_all_tpt  hiv_elig_all  hiv_elig_new_tpt   hiv_elig_new  \
count  ...         42.000000  4.200000e+01         28.000000      28.000000
mean   ...      38729.071429  9.077498e+04      27834.392857   39263.035714
std    ...      88918.069664  2.249866e+05      78538.212268   91427.721910
min    ...          1.000000  1.000000e+00          0.000000       0.000000
25%    ...        229.000000  1.148750e+03         54.250000     388.250000
50%    ...       1527.000000  9.287500e+03        471.500000    1414.500000
75%    ...      14886.500000  3.658650e+04       5187.250000    9875.750000
max    ...     356872.000000  1.179031e+06     356872.000000  383403.000000

         hiv_all_tpt       hiv_all   hiv_new_tpt        hiv_new  \
count      26.000000  2.400000e+01     16.000000      16.000000
mean    52033.307692  1.891901e+05   3583.125000   19571.375000
std    119555.643431  4.522424e+05  10415.052382   49559.922963
min         0.000000  0.000000e+00      0.000000       0.000000
25%        82.000000  1.457250e+03     19.000000     492.750000
50%      1093.000000  8.523000e+03    258.500000    1044.500000
75%     12969.500000  3.360500e+04    732.750000    2758.250000
max    411083.000000  1.492154e+06  41204.000000  177568.000000

       hiv_all_tpt_completed  hiv_all_tpt_started
count              23.000000            23.000000
mean            50791.304348         71134.913043
std            108121.122855        143700.142848
min                 0.000000             0.000000
25%                25.500000            29.500000
50%              1247.000000          1472.000000
75%             19621.000000         36813.000000
max            336492.000000        534354.000000

[8 rows x 194 columns]

In [ ]:
df1 = df[['country','year','new_sp']]
print(df1[['year','new_sp','country']].isnull().sum(axis=0))
df_drop = df1.dropna()

new_sp_2000 = df_drop[df_drop['year'] == 2000]
sp_mean = round(np.mean(new_sp_2000['new_sp']),2)
over_mean = new_sp_2000[new_sp_2000['new_sp'] > sp_mean]
print(len(over_mean))

year          0
new_sp     4805
country       0
dtype: int64
38

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220401.csv')

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       10 non-null     int64
 1   y       10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes
None
              x          y
count  10.00000  10.000000
mean    5.50000  58.500000
std     3.02765  24.712795
min     1.00000  15.000000
25%     3.25000  40.250000
50%     5.50000  60.000000
75%     7.75000  77.000000
max    10.00000  91.000000

In [ ]:
q1 = df['y'].quantile(0.75)
q3 = df['y'].quantile(0.25)

#print(np.quantile(df['y'], 0.75))
#print(np.percentile(df['y'], 75))

print(int(abs(q3 - q1)))

36

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220402.csv')

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   int64
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
dtypes: int64(10), object(2)
memory usage: 661.1+ KB
None
         status_id  num_reactions  num_comments   num_shares    num_likes  \
count  7050.000000    7050.000000   7050.000000  7050.000000  7050.000000
mean   3525.500000     230.117163    224.356028    40.022553   215.043121
std    2035.304031     462.625309    889.636820   131.599965   449.472357
min       1.000000       0.000000      0.000000     0.000000     0.000000
25%    1763.250000      17.000000      0.000000     0.000000    17.000000
50%    3525.500000      59.500000      4.000000     0.000000    58.000000
75%    5287.750000     219.000000     23.000000     4.000000   184.750000
max    7050.000000    4710.000000  20990.000000  3424.000000  4710.000000

         num_loves     num_wows    num_hahas     num_sads   num_angrys
count  7050.000000  7050.000000  7050.000000  7050.000000  7050.000000
mean     12.728652     1.289362     0.696454     0.243688     0.113191
std      39.972930     8.719650     3.957183     1.597156     0.726812
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       3.000000     0.000000     0.000000     0.000000     0.000000
max     657.000000   278.000000   157.000000    51.000000    31.000000

In [ ]:
gg = (df['num_loves'] + df['num_wows']) / df['num_reactions']

result = gg[(gg > 0.4) & (gg< 0.5)]
print(len(result))

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220403.csv')

print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None
       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'], format="%B %d, %Y")

result = df[(df['country'] == 'United Kingdom') &
          (df['date_added'].dt.year == 2018) &
           (df['date_added'].dt.month ==1)]
print(len(result))

6

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220501.csv', encoding='cp949')

print(df.info())
print(df.describe())
print(df.head())

In [ ]:
filter = df[(df['종량제봉투종류'] == '규격봉투') &
            (df['종량제봉투용도'] == '음식물쓰레기') &
            (df['2L가격'] != 0)]
print(int(filter['2L가격'].mean()))

120

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220502.csv', encoding='cp949')

print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB
None
           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000
   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [ ]:
df['bmi'] = df['Weight'] / ((df['Height']/100)** 2)

nor_bmi = df[(df['bmi'] >= 18.5) & (df['bmi'] < 23)]
dan_bmi = df[(df['bmi'] >= 23) & (df['bmi'] < 25)]

a = (len(nor_bmi))
b = (len(dan_bmi))

print(int(abs(a-b)))

28

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P220503.csv', encoding='cp949')

print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6287 entries, 0 to 6286
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시도교육청       6287 non-null   object
 1   지역교육청       6287 non-null   object
 2   지역          6280 non-null   object
 3   정보공시 학교코드   6287 non-null   object
 4   학교명         6287 non-null   object
 5   학교급코드       6287 non-null   int64
 6   설립구분        6287 non-null   object
 7   제외여부        6287 non-null   object
 8   제외사유        0 non-null      float64
 9   1학년 전입학생수   6287 non-null   int64
 10  1학년 전출학생수   6287 non-null   int64
 11  1학년 전체학생수   6287 non-null   int64
 12  2학년 전입학생수   6287 non-null   int64
 13  2학년 전출학생수   6287 non-null   int64
 14  2학년 전체학생수   6287 non-null   int64
 15  3학년 전입학생수   6287 non-null   int64
 16  3학년 전출학생수   6287 non-null   int64
 17  3학년 전체학생수   6287 non-null   int64
 18  4학년 전입학생수   6287 non-null   int64
 19  4학년 전출학생수   6287 non-null   int64
 20  4학년 전체학생수   6287 non-null   int64
 21  5학년 전입학생수   6287 non-null   int64
 22  5학년 전출학생수   6287 non-null   int64
 23  5학년 전체학생수   6287 non-null   int64
 24  6학년 전입학생수   6287 non-null   int64
 25  6학년 전출학생수   6287 non-null   int64
 26  6학년 전체 학생수  6287 non-null   int64
 27  전입학생수(계)    6287 non-null   int64
 28  전출학생수(계)    6287 non-null   int64
 29  전체학생수(계)    6287 non-null   int64
dtypes: float64(1), int64(22), object(7)
memory usage: 1.4+ MB
None
        학교급코드  제외사유    1학년 전입학생수    1학년 전출학생수    1학년 전체학생수    2학년 전입학생수  \
count  6287.0   0.0  6287.000000  6287.000000  6287.000000  6287.000000
mean      2.0   NaN     3.109591     3.191506    75.194847     5.304915
std       0.0   NaN     7.769830     4.302243    72.237675    13.750727
min       2.0   NaN     0.000000     0.000000     0.000000     0.000000
25%       2.0   NaN     0.000000     0.000000    11.000000     0.000000
50%       2.0   NaN     1.000000     2.000000    59.000000     2.000000
75%       2.0   NaN     4.000000     5.000000   119.000000     6.000000
max       2.0   NaN   240.000000   105.000000   453.000000   271.000000

         2학년 전출학생수    2학년 전체학생수    3학년 전입학생수    3학년 전출학생수  ...    4학년 전체학생수  \
count  6287.000000  6287.000000  6287.000000  6287.000000  ...  6287.000000
mean      5.402895    72.943534     5.310323     5.406394  ...    68.725624
std       7.966108    68.573519    12.754975     7.071525  ...    63.250971
min       0.000000     0.000000     0.000000     0.000000  ...     0.000000
25%       1.000000    11.000000     0.000000     1.000000  ...    11.000000
50%       4.000000    57.000000     2.000000     4.000000  ...    55.000000
75%       8.000000   116.000000     6.000000     8.000000  ...   109.000000
max     181.000000   413.000000   261.000000   162.000000  ...   359.000000

         5학년 전입학생수    5학년 전출학생수    5학년 전체학생수    6학년 전입학생수    6학년 전출학생수  \
count  6287.000000  6287.000000  6287.000000  6287.000000  6287.000000
mean      4.304597     4.370288    71.725624     3.325911     3.444409
std      10.173829     5.759884    65.829198     7.663990     4.638890
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     1.000000    11.000000     0.000000     0.000000
50%       2.000000     3.000000    59.000000     1.000000     2.000000
75%       5.000000     6.000000   114.000000     4.000000     5.000000
max     216.000000   135.000000   428.000000   158.000000   111.000000

        6학년 전체 학생수     전입학생수(계)     전출학생수(계)     전체학생수(계)
count  6287.000000  6287.000000  6287.000000  6287.000000
mean     75.653730    25.963258    26.526642   436.749642
std      68.520064    59.089112    32.146383   398.982401
min       0.000000     0.000000     0.000000     0.000000
25%      12.000000     3.000000     5.000000    67.000000
50%      63.000000    12.000000    19.000000   354.000000
75%     123.000000    29.000000    38.000000   697.000000
max     432.000000  1187.000000   677.000000  2178.000000

[8 rows x 23 columns]
      시도교육청           지역교육청         지역   정보공시 학교코드              학교명  학교급코드  \
0  서울특별시교육청             교육부  서울특별시 서초구  S000003511    서울교육대학교부설초등학교      2
1  서울특별시교육청             교육부  서울특별시 종로구  S000003563  서울대학교사범대학부설초등학교      2
2  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000738         서울개일초등학교      2
3  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000741         서울구룡초등학교      2
4  서울특별시교육청  서울특별시강남서초교육지원청  서울특별시 강남구  S010000742         서울논현초등학교      2

  설립구분 제외여부  제외사유  1학년 전입학생수  ...  4학년 전체학생수  5학년 전입학생수  5학년 전출학생수  5학년 전체학생수  \
0   국립    N   NaN          1  ...        103          0          1        112
1   국립    N   NaN          1  ...        105          3          5        109
2   공립    N   NaN         18  ...        123         46          4        136
3   공립    N   NaN          5  ...         74          9          3         85
4   공립    N   NaN          1  ...         54          4          4         65

   6학년 전입학생수  6학년 전출학생수  6학년 전체 학생수  전입학생수(계)  전출학생수(계)  전체학생수(계)
0          0          1         105         2         5       616
1          1          0         110        21        18       632
2         41          6         170       232        36       837
3          7          2          86        49        14       492
4          4          1          52        14        26       339

[5 rows x 30 columns]

In [ ]:
df['순전입학생수'] = df['전입학생수(계)'] - df['전출학생수(계)']

df1 = df.sort_values(by='순전입학생수', ascending = False)

print(df1['전체학생수(계)'].loc[3563])
print(df1['전체학생수(계)'].iloc[0])

956
956

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P230601.csv', encoding='utf-8')

print(df.info())
print(df.describe())
print(df.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21542 entries, 0 to 21541
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   신고일시    21542 non-null  object
 1   출동일시    21542 non-null  object
 2   출동소방서   21542 non-null  object
dtypes: object(3)
memory usage: 505.0+ KB
None
                    신고일시              출동일시  출동소방서
count              21542             21542  21542
unique             20942             21026     54
top     2018-08-25 13:53  2018-08-20 08:49  부천소방서
freq                   4                 3   1340
               신고일시              출동일시  출동소방서
0  2018-01-02 11:45  2018-01-02 11:50  양평소방서

In [3]:
df['출동일시'] = pd.to_datetime(df['출동일시'])
df['신고일시'] = pd.to_datetime(df['신고일시'])
df['소요시간'] = (df['출동일시'] - df['신고일시']).dt.total_seconds()
print(df['소요시간'])

result = df.groupby([df['출동소방서'],
                     df['신고일시'].dt.year,
                     df['신고일시'].dt.month]).mean('소요시간')
result = result.sort_values(by='소요시간', ascending = False)

print(round(float(result['소요시간'][0] / 60)))

0        300.0
1        240.0
2          0.0
3        300.0
4         60.0
         ...
21537    180.0
21538    120.0
21539    120.0
21540    420.0
21541    120.0
Name: 소요시간, Length: 21542, dtype: float64
64

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P230602.csv', encoding='utf-8')

print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6309 entries, 0 to 6308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school_name  6309 non-null   object
 1   student_1    6309 non-null   int64
 2   student_2    6309 non-null   int64
 3   student_3    6309 non-null   int64
 4   student_4    6309 non-null   int64
 5   student_5    6309 non-null   int64
 6   student_6    6309 non-null   int64
 7   teacher      6309 non-null   int64
dtypes: int64(7), object(1)
memory usage: 394.4+ KB
None
         student_1    student_2    student_3    student_4    student_5  \
count  6309.000000  6309.000000  6309.000000  6309.000000  6309.000000
mean     67.578697    66.378982    66.438897    73.728642    71.712474
std      67.752782    65.398715    64.544496    70.324875    67.134313
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%      10.000000    10.000000    10.000000    11.000000    11.000000
50%      50.000000    49.000000    51.000000    57.000000    56.000000
75%     104.000000   101.000000   103.000000   115.000000   112.000000
max     470.000000   390.000000   401.000000   420.000000   393.000000

         student_6      teacher
count  6309.000000  6309.000000
mean     71.538120    23.925503
std      66.448847    17.191077
min       0.000000     0.000000
25%      11.000000     8.000000
50%      58.000000    20.000000
75%     112.000000    35.000000
max     428.000000    95.000000
       school_name  student_1  student_2  student_3  student_4  student_5  \
0    서울교육대학교부설초등학교         95         95         95        104        108
1  서울대학교사범대학부설초등학교         97        100        102        102        102
2         서울개일초등학교        183        163        176        186        177
3         서울구룡초등학교        109        115        115        131        133
4         서울논현초등학교         34         47         34         46         46

   student_6  teacher
0        110       31
1        104       36
2        193       42
3        132       38
4         46       18

In [ ]:
df['one_teacher'] = ((df['student_1']) + (df['student_2']) + (df['student_3']) + \
 (df['student_4']) + (df['student_5']) + (df['student_6'])) / df['teacher']

df_sort = df.sort_values(by='one_teacher', ascending = False)

print(df_sort['teacher'].iloc[0])

KeyError: 'student_1'

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/데이터 셋/P230603.csv', encoding='utf-8')

print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      84 non-null     object
 1   강력범     84 non-null     int64
 2   절도범     84 non-null     int64
 3   폭력범     84 non-null     int64
 4   지능범     84 non-null     int64
 5   풍속범     84 non-null     int64
 6   기타형사범   84 non-null     int64
dtypes: int64(6), object(1)
memory usage: 4.7+ KB
None
              강력범          절도범          폭력범          지능범          풍속범  \
count   84.000000    84.000000    84.000000    84.000000    84.000000
mean   446.285714  3840.976190  5931.738095  5659.059524   236.666667
std    143.197780  1359.567144   986.131802   906.075429   161.785767
min     22.000000    91.000000   263.000000   256.000000     8.000000
25%    340.500000  2653.500000  5504.750000  5265.000000   149.750000
50%    420.000000  3924.500000  6034.000000  5831.500000   190.500000
75%    559.500000  4765.250000  6501.250000  6174.500000   265.500000
max    724.000000  7317.000000  7849.000000  7115.000000  1216.000000

             기타형사범
count    84.000000
mean   1405.666667
std     287.946796
min      44.000000
25%    1257.000000
50%    1408.000000
75%    1577.250000
max    2099.000000
        년월  강력범   절도범   폭력범   지능범  풍속범  기타형사범
0  2007-01  291  2608  6494  5283  242   1126
1  2007-02  252  2403  4613  4270  158    880
2  2007-03  292  2273  6242  5110  196   1119
3  2007-04  306  2794  6813  5492  250   1311
4  2007-05  298  3469  7221  5432  192   1412

In [ ]:
df['sum'] = (df['강력범'] + df['절도범'] + df['폭력범']+ \
                   df['지능범'] + df['풍속범'] + df['기타형사범'])
df['year'] = df["년월"].str[:4]

df1 = df.groupby(by='year').sum('sum').sort_values(by='sum', ascending=False)
print(df1)

df2 = df[df['year'] == '2013']
print(df2)

print(round(df2['sum'].mean()))

       강력범    절도범    폭력범    지능범   풍속범  기타형사범     sum
year
2013  6276  61585  65422  76541  1562  20565  231951
2012  6023  61329  70623  72238  1942  19345  231500
2011  6905  54294  72044  71252  2377  16484  223356
2009  4495  37175  73069  72262  6203  16864  210068
2010  6628  49382  68798  66368  2457  15059  208692
2008  3778  28900  74290  62149  2980  15485  187582
2007  3383  29977  74020  54551  2359  14274  178564
         년월  강력범   절도범   폭력범   지능범  풍속범  기타형사범    sum  year
72  2013-01  396  4858  4990  6336  126   1631  18337  2013
73  2013-02  346  4382  4192  4900  115   1259  15194  2013
74  2013-03  444  4266  4936  5829  129   1495  17099  2013
75  2013-04  546  4915  5363  6499  125   1748  19196  2013
76  2013-05  558  5203  5834  7029  133   1662  20419  2013
77  2013-06  619  5871  5740  6133  142   1640  20145  2013
78  2013-07  649  5830  6366  7115  146   1930  22036  2013
79  2013-08  615  5650  5796  6345  120   1764  20290  2013
80  2013-09  547  5602  5603  6126  139   1693  19710  2013
81  2013-01  669  5690  6016  6762  166   2099  21402  2013
82  2013-11  415  4702  5367  6962  115   1988  19549  2013
83  2013-12  472  4616  5219  6505  106   1656  18574  2013
19329

2

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score


df1 = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210204-01.csv')
print(df1.info())
print(df1.describe())

df1['Reached.on.Time_Y.N'] = df1['Reached.on.Time_Y.N'].astype('category')

df2 = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210204-02.csv')
print(df1.info())
print(df1.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8009 non-null   int64
 1   Warehouse_block      8009 non-null   object
 2   Mode_of_Shipment     8009 non-null   object
 3   Customer_care_calls  8009 non-null   int64
 4   Customer_rating      8009 non-null   int64
 5   Cost_of_the_Product  8009 non-null   int64
 6   Prior_purchases      8009 non-null   int64
 7   Product_importance   8009 non-null   object
 8   Gender               8009 non-null   object
 9   Discount_offered     8009 non-null   int64
 10  Weight_in_gms        8009 non-null   int64
 11  Reached.on.Time_Y.N  8009 non-null   int64
dtypes: int64(8), object(4)
memory usage: 751.0+ KB
None
                ID  Customer_care_calls  Customer_rating  Cost_of_the_Product  \
count  8009.000000          8009.000000      8009.000000          8009.000000
mean   4005.000000             3.980022         2.997128           206.941691
std    2312.143486             1.123538         1.409124            48.179596
min       1.000000             2.000000         1.000000            96.000000
25%    2003.000000             3.000000         2.000000           166.000000
50%    4005.000000             4.000000         3.000000           208.000000
75%    6007.000000             5.000000         4.000000           248.000000
max    8009.000000             7.000000         5.000000           310.000000

       Prior_purchases  Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
count      8009.000000       8009.000000    8009.000000          8009.000000
mean          3.481833         16.295043    3545.574229             0.662005
std           1.534307         18.057606    1601.181104             0.473056
min           2.000000          1.000000    1001.000000             0.000000
25%           2.000000          4.000000    1867.000000             0.000000
50%           3.000000          8.000000    3922.000000             1.000000
75%           4.000000         23.000000    4958.000000             1.000000
max          10.000000         65.000000    7846.000000             1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8009 non-null   int64
 1   Warehouse_block      8009 non-null   object
 2   Mode_of_Shipment     8009 non-null   object
 3   Customer_care_calls  8009 non-null   int64
 4   Customer_rating      8009 non-null   int64
 5   Cost_of_the_Product  8009 non-null   int64
 6   Prior_purchases      8009 non-null   int64
 7   Product_importance   8009 non-null   object
 8   Gender               8009 non-null   object
 9   Discount_offered     8009 non-null   int64
 10  Weight_in_gms        8009 non-null   int64
 11  Reached.on.Time_Y.N  8009 non-null   category
dtypes: category(1), int64(7), object(4)
memory usage: 696.3+ KB
None
                ID  Customer_care_calls  Customer_rating  Cost_of_the_Product  \
count  8009.000000          8009.000000      8009.000000          8009.000000
mean   4005.000000             3.980022         2.997128           206.941691
std    2312.143486             1.123538         1.409124            48.179596
min       1.000000             2.000000         1.000000            96.000000
25%    2003.000000             3.000000         2.000000           166.000000
50%    4005.000000             4.000000         3.000000           208.000000
75%    6007.000000             5.000000         4.000000           248.000000
max    8009.000000             7.000000         5.000000           310.000000

       Prior_purchases  Discount_offered  Weight_in_gms
count      8009.000000       8009.000000    8009.000000
mean          3.481833         16.295043    3545.574229
std           1.534307         18.057606    1601.181104
min           2.000000          1.000000    1001.000000
25%           2.000000          4.000000    1867.000000
50%           3.000000          8.000000    3922.000000
75%           4.000000         23.000000    4958.000000
max          10.000000         65.000000    7846.000000

In [ ]:
x = df1.drop('Reached.on.Time_Y.N', axis=1)
y = df1['Reached.on.Time_Y.N']

x_encode = pd.get_dummies(x)

x_train, x_vaild, y_train, y_vaild = train_test_split(x_encode.drop('ID', axis=1), \
                                                      y, test_size=0.25)

md = RandomForestClassifier(n_estimators=300)
md.fit(x_train, y_train)

pred = md.predict(x_vaild)

In [ ]:
cm = confusion_matrix(y_vaild, pred, labels=[1,0])
print(cm)
print(accuracy_score(y_vaild, pred))
print(precision_score(y_vaild, pred))
print(f1_score(y_vaild, pred))
print(roc_auc_score(y_vaild, pred))

[[988 325]
 [254 436]]
0.7109335996005991
0.7954911433172303
0.773385518590998
0.6921796527478835

In [ ]:
x_test = df2
x_test_encoded = pd.get_dummies(x_test)

md = RandomForestClassifier(n_estimators=300)
md.fit(x_encode.drop('ID',axis=1), y)

pred = md.predict_proba(x_test_encoded.drop('ID', axis=1))
print(pred)

result = pd.DataFrame({'ID':df2['ID'], 'pred':pred[:, 1]})
print(result)
result.to_csv("tngjaqjsgh",index=False)

[[0.38333333 0.61666667]
 [0.22       0.78      ]
 [0.60666667 0.39333333]
 ...
 [0.38333333 0.61666667]
 [0.35       0.65      ]
 [0.28333333 0.71666667]]
         ID      pred
0      8010  0.616667
1      8011  0.780000
2      8012  0.393333
3      8013  0.540000
4      8014  0.363333
...     ...       ...
2985  10995  0.650000
2986  10996  0.580000
2987  10997  0.616667
2988  10998  0.650000
2989  10999  0.716667

[2990 rows x 2 columns]

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

df1 = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210304-01.csv')
print(df1.info())
print(df1.describe())
print(df1.head())

df2 = pd.read_csv('/content/drive/MyDrive/데이터 셋/P210304-02.csv')
print(df2.info())
print(df2.describe())
print(df2.head())

In [ ]:
x = df1.drop('TravelInsurance', axis=1)
y = df1['TravelInsurance']

x_encoded = pd.get_dummies(x)

x_train, x_valid, y_train, y_valid = train_test_split(x_encoded.drop('X', axis =1), \
                                                     y, test_size=0.25)

md = RandomForestClassifier(n_estimators=300)
md.fit(x_train, y_train)

pred = md.predict(x_valid)

In [ ]:
cm = confusion_matrix(y_valid, pred, labels=[1,0])
print(cm)
print(accuracy_score(y_valid, pred))
print(precision_score(y_valid, pred))
print(recall_score(y_valid, pred))
print(f1_score(y_valid, pred))
print(roc_auc_score(y_valid, pred))

In [ ]:
x_test = df2
x_test_encoded = pd.get_dummies(x_test)

md = RandomForestClassifier(n_estimators=300)
md.fit(x_encoded.drop('X', axis=1), y)

pred = md.predict_proba(x_test_encoded.drop('X', axis=1))
print(pred)

result = pd.DataFrame({'index': df2['X'], 'y_pred':pred[:,1]})
print(result)

result.to_csv("2", index=False)