In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv')

In [ ]:
print(df.head(5))

  gameId\tcreationTime\tgameDuration\tseasonId\twinner\tfirstBlood\tfirstTower\tfirstInhibitor\tfirstBaron\tfirstDragon\tfirstRiftHerald\tt1_champ1id\tt1_champ1_sum1\tt1_champ1_sum2\tt1_champ2id\tt1_champ2_sum1\tt1_champ2_sum2\tt1_champ3id\tt1_champ3_sum1\tt1_champ3_sum2\tt1_champ4id\tt1_champ4_sum1\tt1_champ4_sum2\tt1_champ5id\tt1_champ5_sum1\tt1_champ5_sum2\tt1_towerKills\tt1_inhibitorKills\tt1_baronKills\tt1_dragonKills\tt1_riftHeraldKills\tt1_ban1\tt1_ban2\tt1_ban3\tt1_ban4\tt1_ban5\tt2_champ1id\tt2_champ1_sum1\tt2_champ1_sum2\tt2_champ2id\tt2_champ2_sum1\tt2_champ2_sum2\tt2_champ3id\tt2_champ3_sum1\tt2_champ3_sum2\tt2_champ4id\tt2_champ4_sum1\tt2_champ4_sum2\tt2_champ5id\tt2_champ5_sum1\tt2_champ5_sum2\tt2_towerKills\tt2_inhibitorKills\tt2_baronKills\tt2_dragonKills\tt2_riftHeraldKills\tt2_ban1\tt2_ban2\tt2_ban3\tt2_ban4\tt2_ban5
0  3326086514\t1504279457970\t1949\t9\t1\t2\t1\t1...
1  3229566029\t1497848803862\t1851\t9\t1\t1\t1\t1...
2  3327363504\t1504360103310\t1493\t9\t1\t2\t1\t1...
3  3326856598\t1504348503996\t1758\t9\t1\t1\t1\t1...
4  3330080762\t1504554410899\t2094\t9\t1\t2\t1\t1...

In [ ]:
print(df.shape)
print('행:', df.shape[0])
print('열:', df.shape[1])

(51490, 1)
행: 51490
열: 1

In [ ]:
print(df.columns[5])

IndexError: index 5 is out of bounds for axis 0 with size 1

In [ ]:
print(df.gameId.dtype)

AttributeError: 'DataFrame' object has no attribute 'gameId'

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv', encoding='euc-kr')

In [ ]:
print(df.tail(3))

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

In [ ]:
print(df.columns)

Index(['id', '일자', '시도명', '읍면동명', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도',
       '평균 소요 시간', '평균 기온', '일강수량', '평균 풍속'],
      dtype='object')

In [ ]:
print(df.isnull().sum())

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB
None

In [ ]:
print(df.describe())

                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

In [ ]:
print(df.거주인구)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [ ]:
print(df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25))

14.854999999999997

In [ ]:
print(df['읍면동명'].unique())

['도두동' '외도동' '이도2동' '일도1동' '대천동' '서홍동' '한경면' '송산동' '조천읍' '일도2동' '영천동'
 '예래동' '대륜동' '삼도1동' '이호동' '건입동' '중앙동' '삼양동' '삼도2동' '이도1동' '남원읍' '대정읍'
 '정방동' '효돈동' '아라동' '한림읍' '구좌읍' '용담1동' '오라동' '화북동' '연동' '표선면' '중문동' '성산읍'
 '안덕면' '천지동' '노형동' '동홍동' '용담2동' '봉개동' '애월읍']

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv')

In [ ]:
ans = df[df['quantity'] == 3].head(5)
print(ans)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

In [ ]:
ans = df[df['quantity'] == 3].reset_index(drop=True).head(5)
print(ans)

   order_id  quantity          item_name  \
0       178         3       Chicken Bowl
1       193         3               Bowl
2       284         3  Canned Soft Drink
3       338         3      Bottled Water
4       350         3  Canned Soft Drink

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
1  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
2                                        [Diet Coke]     $3.75
3                                                NaN     $3.27
4                                           [Sprite]     $3.75

In [ ]:
ans = pd.DataFrame(df[['quantity', 'item_price']])
print(ans)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [ ]:
df['new_price']= df['item_price'].str[1:].astype('float64')
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price  new_price
0                                                NaN     $2.39        2.39
1                                       [Clementine]     $3.39        3.39
2                                            [Apple]     $3.39        3.39
3                                                NaN     $2.39        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98

In [ ]:
ans = len(df[df['new_price'] <= 5])
print(ans)

1652

In [ ]:
ans = df[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True).head(3)
print(ans)

   order_id  quantity           item_name  \
0        20         1  Chicken Salad Bowl
1        60         2  Chicken Salad Bowl
2        94         2  Chicken Salad Bowl

                                  choice_description item_price  new_price
0  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
1  [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50       22.50
2  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $22.50       22.50

In [ ]:
ans = df[(df['new_price'] <= 9) & (df['item_name'] == 'Chicken Salad Bowl')]
print(ans)

      order_id  quantity           item_name  \
44          20         1  Chicken Salad Bowl
256        111         1  Chicken Salad Bowl
526        220         1  Chicken Salad Bowl
528        221         1  Chicken Salad Bowl
529        221         1  Chicken Salad Bowl
568        234         1  Chicken Salad Bowl
585        240         1  Chicken Salad Bowl
693        286         1  Chicken Salad Bowl
702        289         1  Chicken Salad Bowl
762        314         1  Chicken Salad Bowl
1109       458         1  Chicken Salad Bowl
1460       592         1  Chicken Salad Bowl
1471       598         1  Chicken Salad Bowl
1483       602         1  Chicken Salad Bowl
1547       628         1  Chicken Salad Bowl
1601       649         1  Chicken Salad Bowl
1621       654         1  Chicken Salad Bowl
1756       709         1  Chicken Salad Bowl
1977       798         1  Chicken Salad Bowl
2031       818         1  Chicken Salad Bowl
2113       850         1  Chicken Salad Bowl
2224       896         1  Chicken Salad Bowl
2314       926         1  Chicken Salad Bowl
2728      1083         1  Chicken Salad Bowl
2858      1136         1  Chicken Salad Bowl
2883      1145         1  Chicken Salad Bowl
2897      1152         1  Chicken Salad Bowl
2989      1189         1  Chicken Salad Bowl
3033      1206         1  Chicken Salad Bowl
3069      1222         1  Chicken Salad Bowl
3117      1243         1  Chicken Salad Bowl
3259      1305         1  Chicken Salad Bowl
3261      1305         1  Chicken Salad Bowl
3310      1327         1  Chicken Salad Bowl
3315      1329         1  Chicken Salad Bowl
3381      1357         1  Chicken Salad Bowl
3411      1368         1  Chicken Salad Bowl
3623      1450         1  Chicken Salad Bowl
3656      1461         1  Chicken Salad Bowl
3706      1483         1  Chicken Salad Bowl
3712      1483         1  Chicken Salad Bowl
3790      1517         1  Chicken Salad Bowl
3798      1521         1  Chicken Salad Bowl
3974      1592         1  Chicken Salad Bowl
3997      1601         1  Chicken Salad Bowl
4012      1606         1  Chicken Salad Bowl
4035      1615         1  Chicken Salad Bowl
4064      1627         1  Chicken Salad Bowl
4205      1679         1  Chicken Salad Bowl
4207      1679         1  Chicken Salad Bowl
4333      1730         1  Chicken Salad Bowl
4352      1738         1  Chicken Salad Bowl
4439      1769         1  Chicken Salad Bowl
4520      1797         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
44    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526   [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
528   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
529   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
568             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
585             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
693   [Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...     $8.75        8.75
702   [Tomatillo Red Chili Salsa, [Black Beans, Chee...     $8.75        8.75
762   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
1109  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1460                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
1471  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1483  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
1547  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1601  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1621  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1756  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
1977  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
2031  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
2113  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     $8.75        8.75
2224  [Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...     $8.75        8.75
2314     [Roasted Chili Corn Salsa, [Rice, Sour Cream]]     $8.75        8.75
2728      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75        8.75
2858  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
2883  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
2897                 [Roasted Chili Corn Salsa, Cheese]     $8.75        8.75
2989  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
3033            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3069  [Fresh Tomato Salsa, [Fajita Vegetables, Black...     $8.75        8.75
3117  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3259  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
3261  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3310                               [Fresh Tomato Salsa]     $8.75        8.75
3315              [Fresh Tomato Salsa, [Rice, Lettuce]]     $8.75        8.75
3381            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3411       [Fresh Tomato Salsa, [Pinto Beans, Lettuce]]     $8.75        8.75
3623  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3656  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
3706  [Roasted Chili Corn Salsa, [Pinto Beans, Chees...     $8.75        8.75
3712  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
3790  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
3798  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3974  [Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...     $8.75        8.75
3997  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
4012                               [Fresh Tomato Salsa]     $8.75        8.75
4035  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
4064  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4205  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
4207  [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75        8.75
4333        [Tomatillo Red Chili Salsa, [Rice, Cheese]]     $8.75        8.75
4352  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...     $8.75        8.75
4439  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4520                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

In [ ]:
ans = df.sort_values('new_price').reset_index(drop=True)
print(ans)

      order_id  quantity                     item_name  \
0          471         1                 Bottled Water
1          338         1                   Canned Soda
2         1575         1                   Canned Soda
3           47         1                   Canned Soda
4         1014         1                   Canned Soda
...        ...       ...                           ...
4617      1443         3                Veggie Burrito
4618      1443         4               Chicken Burrito
4619       511         4               Chicken Burrito
4620      1398         3                 Carnitas Bowl
4621      1443        15  Chips and Fresh Tomato Salsa

                                     choice_description item_price  new_price
0                                                   NaN     $1.09        1.09
1                                           [Coca Cola]     $1.09        1.09
2                                          [Dr. Pepper]     $1.09        1.09
3                                          [Dr. Pepper]     $1.09        1.09
4                                           [Coca Cola]     $1.09        1.09
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
4618  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
4620  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
4621                                                NaN    $44.25       44.25

[4622 rows x 6 columns]

In [ ]:
ans = df.loc[df['item_name'].str.contains('Chips')]
print(ans)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
10           5         1                    Chips and Guacamole
14           7         1                    Chips and Guacamole
...        ...       ...                                    ...
4596      1826         1                    Chips and Guacamole
4600      1827         1                    Chips and Guacamole
4605      1828         1                    Chips and Guacamole
4613      1831         1                                  Chips
4616      1832         1                    Chips and Guacamole

     choice_description item_price  new_price
0                   NaN     $2.39        2.39
3                   NaN     $2.39        2.39
6                   NaN     $1.69        1.69
10                  NaN     $4.45        4.45
14                  NaN     $4.45        4.45
...                 ...        ...        ...
4596                NaN     $4.45        4.45
4600                NaN     $4.45        4.45
4605                NaN     $4.45        4.45
4613                NaN     $2.15        2.15
4616                NaN     $4.45        4.45

[1084 rows x 6 columns]

In [ ]:
ans = df.iloc[:,::2]
print(ans)

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

In [ ]:
df1 = df.copy()
result = df1.sort_values('new_price', ascending = False).reset_index(drop=True)
print(result)

      order_id  quantity                     item_name  \
0         1443        15  Chips and Fresh Tomato Salsa
1         1398         3                 Carnitas Bowl
2          511         4               Chicken Burrito
3         1443         4               Chicken Burrito
4         1443         3                Veggie Burrito
...        ...       ...                           ...
4617      1578         1                   Canned Soda
4618      1162         1                 Bottled Water
4619       567         1                   Canned Soda
4620      1014         1                   Canned Soda
4621       591         1                   Canned Soda

                                     choice_description item_price  new_price
0                                                   NaN    $44.25       44.25
1     [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
...                                                 ...        ...        ...
4617                                  [Diet Dr. Pepper]     $1.09        1.09
4618                                                NaN     $1.09        1.09
4619                                        [Coca Cola]     $1.09        1.09
4620                                        [Coca Cola]     $1.09        1.09
4621                                           [Sprite]     $1.09        1.09

[4622 rows x 6 columns]

In [ ]:
result = df1[(df1.item_name == 'Steak Salad') | (df1.item_name == 'Bowl')]
result

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [ ]:
result = pd.DataFrame(result).drop_duplicates('item_name')
print(result)

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

In [ ]:
result = pd.DataFrame(result).drop_duplicates('item_name',keep='last')
print(result)

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

In [ ]:
result = df1[df['new_price'] >= df['new_price'].mean()]
print(result)

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
8            4         1    Steak Soft Tacos
9            5         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2890 rows x 6 columns]

In [ ]:
result = df1.loc[df1.item_name == 'lzee', 'item_name'] = 'Fizzy Lizzy'
print(result)

Fizzy Lizzy

In [ ]:
df1.loc[df1.item_name =='Izze','item_name'] = 'Fizzy Lizzy'
Ans = df1

In [ ]:
result = df1['choice_description'].isnull().sum()
print(result)

1246

In [ ]:
result = df1.loc[df1.choice_description.isnull(),'choice_description'] ='NoData'
print(df1)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[4622 rows x 6 columns]

In [ ]:
result = df1[df1.choice_description.str.contains('Black')]
print(result)

      order_id  quantity             item_name  \
4            2         2          Chicken Bowl
7            4         1         Steak Burrito
9            5         1         Steak Burrito
11           6         1  Chicken Crispy Tacos
12           6         1    Chicken Soft Tacos
...        ...       ...                   ...
4604      1828         1          Chicken Bowl
4608      1829         1        Veggie Burrito
4611      1830         1        Veggie Burrito
4612      1831         1         Carnitas Bowl
4617      1833         1         Steak Burrito

                                     choice_description item_price  new_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
...                                                 ...        ...        ...
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25       11.25
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75

[1353 rows x 6 columns]

In [ ]:
result = df1[df1.item_name.str.startswith('N')]
print(result)

      order_id  quantity         item_name         choice_description  \
2            1         1  Nantucket Nectar                    [Apple]
22          11         1  Nantucket Nectar       [Pomegranate Cherry]
105         46         1  Nantucket Nectar  [Pineapple Orange Banana]
173         77         1  Nantucket Nectar                    [Apple]
205         91         1  Nantucket Nectar             [Peach Orange]
436        189         1  Nantucket Nectar       [Pomegranate Cherry]
601        247         2  Nantucket Nectar  [Pineapple Orange Banana]
925        381         1  Nantucket Nectar       [Pomegranate Cherry]
1356       553         1  Nantucket Nectar       [Pomegranate Cherry]
1585       641         1  Nantucket Nectar             [Peach Orange]
1626       656         1  Nantucket Nectar  [Pineapple Orange Banana]
1706       690         1  Nantucket Nectar                    [Apple]
2162       872         1  Nantucket Nectar  [Pineapple Orange Banana]
2379       947         2  Nantucket Nectar             [Peach Orange]
2381       947         1  Nantucket Nectar                    [Apple]
2430       965         1  Nantucket Nectar       [Pomegranate Cherry]
2653      1053         1  Nantucket Nectar  [Pineapple Orange Banana]
2818      1118         1  Nantucket Nectar                    [Apple]
2838      1128         1  Nantucket Nectar             [Peach Orange]
2853      1133         1  Nantucket Nectar                    [Apple]
2949      1172         1  Nantucket Nectar             [Peach Orange]
3318      1330         1  Nantucket Nectar             [Peach Orange]
3368      1351         1  Nantucket Nectar  [Pineapple Orange Banana]
3570      1433         1  Nantucket Nectar  [Pineapple Orange Banana]
3845      1541         1  Nantucket Nectar             [Peach Orange]
4019      1609         1  Nantucket Nectar  [Pineapple Orange Banana]
4078      1632         1  Nantucket Nectar             [Peach Orange]

     item_price  new_price
2        $3.39        3.39
22       $3.39        3.39
105      $3.39        3.39
173      $3.39        3.39
205      $3.39        3.39
436      $3.39        3.39
601      $6.78        6.78
925      $3.39        3.39
1356     $3.39        3.39
1585     $3.39        3.39
1626     $3.39        3.39
1706     $3.39        3.39
2162     $3.39        3.39
2379     $6.78        6.78
2381     $3.39        3.39
2430     $3.39        3.39
2653     $3.39        3.39
2818     $3.39        3.39
2838     $3.39        3.39
2853     $3.39        3.39
2949     $3.39        3.39
3318     $3.39        3.39
3368     $3.39        3.39
3570     $3.39        3.39
3845     $3.39        3.39
4019     $3.39        3.39
4078     $3.39        3.39

In [ ]:
result = df1[df1['item_name'].str.len() >= 15]
print(result)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
8            4         1                       Steak Soft Tacos
10           5         1                    Chips and Guacamole
...        ...       ...                                    ...
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
10                                               NoData     $4.45        4.45
...                                                 ...        ...        ...
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75        8.75
4616                                             NoData     $4.45        4.45
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[2373 rows x 6 columns]

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

result = df1[df1['new_price'].isin(lst)]
print(result)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                            Fizzy Lizzy
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4610      1830         1                          Steak Burrito
4612      1831         1                          Carnitas Bowl
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito

                                     choice_description item_price  new_price
0                                                NoData     $2.39        2.39
1                                          [Clementine]     $3.39        3.39
2                                               [Apple]     $3.39        3.39
3                                                NoData     $2.39        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
...                                                 ...        ...        ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25        9.25
4616                                             NoData     $4.45        4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75       11.75

[1393 rows x 6 columns]

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

print(df.head(3))

     id                                 name  host_id  host_name  \
0  2539   Clean & quiet apt home by the park     2787       John
1  2595                Skylit Midtown Castle     2845   Jennifer
2  3647  THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth

  neighbourhood_group neighbourhood  latitude  longitude        room_type  \
0            Brooklyn    Kensington  40.64749  -73.97237     Private room
1           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt
2           Manhattan        Harlem  40.80902  -73.94190     Private room

   price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
0    149               1                  9  2018-10-19               0.21
1    225               1                 45  2019-05-21               0.38
2    150               3                  0         NaN                NaN

   calculated_host_listings_count  availability_365
0                               6               365
1                               2               355
2                               1               365

In [ ]:
df1 = df.copy()
print(df1)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [ ]:
ans = df1.groupby('host_name').size()
print(ans.head(5))

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
dtype: int64

In [ ]:
ans = df1.groupby('host_name').size().to_frame().rename(columns={0:'counts'}).sort_values('counts', ascending = False)
print(ans)

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279
...              ...
Jerbean            1
Jerald             1
Jeonghoon          1
Jeny               1
현선                 1

[11452 rows x 1 columns]

In [ ]:
ans= df1.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size().groupby('neighbourhood_group', as_index=False).max()
print(ans)

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

In [ ]:
ans = df1[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans)

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

In [ ]:
ans = df1[['neighbourhood_group', 'reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans)

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

In [ ]:
ans = df1.groupby(['neighbourhood', 'neighbourhood_group'], as_index=False).price.mean()
print(ans)

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

In [ ]:
ans = df1.groupby(['neighbourhood', 'neighbourhood_group']).price.mean().unstack()
print(ans)

neighbourhood_group      Bronx    Brooklyn  Manhattan      Queens  \
neighbourhood
Allerton             87.595238         NaN        NaN         NaN
Arden Heights              NaN         NaN        NaN         NaN
Arrochar                   NaN         NaN        NaN         NaN
Arverne                    NaN         NaN        NaN  171.779221
Astoria                    NaN         NaN        NaN  117.187778
...                        ...         ...        ...         ...
Windsor Terrace            NaN  138.993631        NaN         NaN
Woodhaven                  NaN         NaN        NaN   67.170455
Woodlawn             60.090909         NaN        NaN         NaN
Woodrow                    NaN         NaN        NaN         NaN
Woodside                   NaN         NaN        NaN   85.097872

neighbourhood_group  Staten Island
neighbourhood
Allerton                       NaN
Arden Heights                67.25
Arrochar                    115.00
Arverne                        NaN
Astoria                        NaN
...                            ...
Windsor Terrace                NaN
Woodhaven                      NaN
Woodlawn                       NaN
Woodrow                     700.00
Woodside                       NaN

[221 rows x 5 columns]

In [ ]:
ans = df1.groupby(['neighbourhood', 'neighbourhood_group']).price.mean().unstack().fillna(-999)
print(ans)

neighbourhood_group       Bronx    Brooklyn  Manhattan      Queens  \
neighbourhood
Allerton              87.595238 -999.000000     -999.0 -999.000000
Arden Heights       -999.000000 -999.000000     -999.0 -999.000000
Arrochar            -999.000000 -999.000000     -999.0 -999.000000
Arverne             -999.000000 -999.000000     -999.0  171.779221
Astoria             -999.000000 -999.000000     -999.0  117.187778
...                         ...         ...        ...         ...
Windsor Terrace     -999.000000  138.993631     -999.0 -999.000000
Woodhaven           -999.000000 -999.000000     -999.0   67.170455
Woodlawn              60.090909 -999.000000     -999.0 -999.000000
Woodrow             -999.000000 -999.000000     -999.0 -999.000000
Woodside            -999.000000 -999.000000     -999.0   85.097872

neighbourhood_group  Staten Island
neighbourhood
Allerton                   -999.00
Arden Heights                67.25
Arrochar                    115.00
Arverne                    -999.00
Astoria                    -999.00
...                            ...
Windsor Terrace            -999.00
Woodhaven                  -999.00
Woodlawn                   -999.00
Woodrow                     700.00
Woodside                   -999.00

[221 rows x 5 columns]

In [ ]:
ans = df1[df1['neighbourhood_group'] == 'Queens'].groupby('neighbourhood').price.agg(['mean','var','max','min'])
print(ans)

                           mean            var    max  min
neighbourhood
Arverne              171.779221   37383.411141   1500   35
Astoria              117.187778  122428.811196  10000   25
Bay Terrace          142.000000    6816.400000    258   32
Bayside              157.948718  166106.470985   2600   30
Bayswater             87.470588    2330.889706    230   45
Belle Harbor         171.500000    8226.571429    350   85
Bellerose             99.357143    3093.016484    240   42
Breezy Point         213.333333    1008.333333    250  195
Briarwood            105.875000   18503.165909   1000   30
Cambria Heights       81.730769    2960.604615    250   31
College Point         88.000000    6445.555556    400   44
Corona                59.171875    2430.557292    359   23
Ditmars Steinway      95.029126    4214.112785    600   22
Douglaston            82.750000    2347.071429    178   40
East Elmhurst         81.183784    4369.487779    700   16
Edgemere              94.727273    4219.418182    200   40
Elmhurst              80.459916    3896.563005    443   15
Far Rockaway         165.862069   52575.980296    900   35
Flushing              93.514085   12417.177448   1500   15
Forest Hills         121.625000   44533.368881   2350   16
Fresh Meadows         99.500000    6394.451613    375   39
Glendale              90.796296    3230.882250    299   25
Hollis                88.642857    1483.016484    175   50
Holliswood           135.750000    5091.583333    239   79
Howard Beach         115.400000    4241.936842    250   40
Jackson Heights       80.897849    2150.470590    260   23
Jamaica               95.770563    8067.047130   1000   10
Jamaica Estates      182.947368   29006.052632    750   35
Jamaica Hills        132.125000   11304.696429    325   50
Kew Gardens           88.375000    2632.306452    219   35
Kew Gardens Hills    112.307692    6230.621538    399   40
Laurelton             95.333333    4355.529412    254   34
Little Neck           75.200000    2368.700000    149   32
Long Island City     127.465549   15529.503009   2000   30
Maspeth               83.645455    2223.607089    245   11
Middle Village       109.580645    3537.118280    265   28
Neponsit             274.666667    5625.333333    350  200
Ozone Park            85.274194    1705.415389    200   25
Queens Village        83.933333    2386.470056    320   25
Rego Park             83.877358    3659.003863    300   21
Richmond Hill         87.117021    3474.147449    300   28
Ridgewood             77.184397    2629.311889    375   20
Rockaway Beach       132.178571    6254.622078    545   49
Rosedale              76.694915    2963.939801    350   22
South Ozone Park      82.400000    4619.989744    400   29
Springfield Gardens   94.235294    2490.848739    300   40
St. Albans           100.828947    9489.903684    600   25
Sunnyside             84.865014    2727.746922    600   12
Whitestone           107.545455   13632.072727    400   35
Woodhaven             67.170455    1642.464864    250   10
Woodside              85.097872    5001.900636    500   28

In [ ]:
ans = df1.groupby(['neighbourhood_group','room_type']).size().unstack()
Ans.loc[:,:] = (Ans.values /Ans.sum(axis=1).values.reshape(-1,1))

ValueError: No axis named 1 for object type Series

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')

In [ ]:
df.shape
df.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816

In [ ]:
df1 = df.copy()
df1.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816

In [ ]:
dic = {
    'Unknown' : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K' : 'b',
    '$60K - $80K' : 'c',
    '$80K - $120K' : 'd',
    '$120K +' : 'e'
}

df1['newincome'] = df1.Income_Category.map(lambda x: dic[x])
ans = df1['newincome']

print(ans)

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newincome, Length: 10127, dtype: object

In [ ]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':
        return 'b'
    elif x =='$60K - $80K':
        return 'c'
    elif x =='$80K - $120K':
        return 'd'
    elif x =='$120K +' :
        return 'e'

df['newIncome']  =df.Income_Category.apply(changeCategory)

Ans = df['newIncome']

In [ ]:
df1['AgeState'] = df1['Customer_Age'].map(lambda x: x//10 * 10)
ans = df1['AgeState'].value_counts().sort_values(ascending=True).sort_index()
print(ans)

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [ ]:
def Level(x):
  if x in 'Graduate':
    return 1
  else:
    return 0

df1['newEduLevel'] = df1['Education_Level'].apply(Level)
ans1 = df1['newEduLevel'].value_counts()
print(ans1)

newEduLevel
0    6999
1    3128
Name: count, dtype: int64

In [ ]:
df1['newEduLevel'] = df1.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
Ans = df1['newEduLevel'].value_counts()

print(Ans)

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [ ]:
df1['newlimit'] = df1['Credit_Limit'].map(lambda x: 1 if x >= 4500 else 0)
ans = df1['newlimit'].value_counts()
print(ans)

newlimit
1    5096
0    5031
Name: count, dtype: int64

In [ ]:
def check(x):
  if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
    return 1
  else:
    return 0

df1['newstate'] = df1.apply(check, axis=1)
ans = df1['newstate'].value_counts()
print(ans)

newstate
0    10120
1        7
Name: count, dtype: int64

In [ ]:
def check(x):
  if x == 'M':
    return 'male'
  else:
      return 'female'

df1['Gender'] = df1['Gender'].apply(check)
ans = df1['Gender'].value_counts()
print(ans)

Gender
female    5358
male      4769
Name: count, dtype: int64

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

In [2]:
df1 = df.copy()
print(df1.shape)
print(df1.info())

(6574, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB
None

In [3]:
df1['Yr_Mo_Dy'] = pd.to_datetime(df1['Yr_Mo_Dy'])
print(df1['Yr_Mo_Dy'].head(4))

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

In [4]:
ans = df1['Yr_Mo_Dy'].dt.year.unique()
print(ans)

[2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 1971 1972 1973 1974
 1975 1976 1977 1978]

In [5]:
def check(x):
  import datetime
  import pandas as pd

  if x.year >= 2061:
              x.year - 100
  else:
              x.year
              return pd.to_datetime(datetime.time(x.year, x.month, x.day))

df1['Yr_Mo_Dy'] = df1['Yr_Mo_Dy'].apply(check)

ValueError: hour must be in 0..23

In [6]:
def fix_century(x):
    import datetime

    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df[[year,month,day]].apply(fix_century)

Ans = df.head(4)

NameError: name 'year' is not defined

In [7]:
ans = df1.groupby(df1.Yr_Mo_Dy.dt.year).mean().sort_index()
print(ans)

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1971     1971-07-02 00:00:00  11.273123   9.095178  11.088329  5.241507
1972     1972-07-01 12:00:00  12.463962  10.561311  12.058333  5.929699
1973     1973-07-02 00:00:00  11.828466  10.680493  10.680493  5.547863
1974     1974-07-02 00:00:00  13.643096  11.811781  12.336356  6.427041
1975     1975-07-02 00:00:00  12.008575  10.293836  11.564712  5.269096
1976     1976-07-01 12:00:00  11.737842  10.203115  10.761230  5.109426
1977     1977-07-02 00:00:00  13.099616  11.144493  12.627836  6.073945
1978     1978-07-02 00:00:00  12.504356  11.044274  11.380000  6.082356
2061     2061-07-02 00:00:00  12.299583  10.351796  11.362369  6.958227
2062     2062-07-02 00:00:00  12.246923  10.110438  11.732712  6.960440
2063     2063-07-02 00:00:00  12.813452  10.836986  12.541151  7.330055
2064     2064-07-01 12:00:00  12.363661  10.920164  12.104372  6.787787
2065     2065-07-02 00:00:00  12.451370  11.075534  11.848767  6.858466
2066     2066-07-02 00:00:00  13.461973  11.557205  12.020630  7.345726
2067     2067-07-02 00:00:00  12.737151  10.990986  11.739397  7.143425
2068     2068-07-01 12:00:00  11.835628  10.468197  11.409754  6.477678
2069     2069-07-02 00:00:00  11.166356   9.723699  10.902000  5.767973
2070     2070-07-02 00:00:00  12.600329  10.726932  11.730247  6.217178

                SHA       BIR        DUB        CLA       MUL        CLO  \
Yr_Mo_Dy
1971       9.440329  6.097151   8.385890   6.757315  7.915370   7.229753
1972       9.430410  6.358825   9.704508   7.680792  8.357295   7.515273
1973       9.640877  6.548740   8.482110   7.614274  8.245534   7.812411
1974      11.110986  6.809781  10.084603   9.896986  9.331753   8.736356
1975       9.190082  5.668521   8.562603   7.843836  8.797945   7.382822
1976       8.846339  6.311038   9.149126   7.146202  8.883716   7.883087
1977      10.003836  8.586438  11.523205   8.378384  9.098192   8.821616
1978      10.167233  7.650658   9.489342   8.800466  9.089753   8.301699
2061      10.881763  7.729726   9.733923   8.858788  8.647652   9.835577
2062      10.657918  7.393068  11.020712   8.793753  8.316822   9.676247
2063      11.724110  8.434712  11.075699  10.336548  8.903589  10.224438
2064      11.454481  7.570874  10.259153   9.467350  7.789016  10.207951
2065      11.024795  7.478110  10.618712   8.879918  7.907425   9.918082
2066      11.805041  7.793671  10.579808   8.835096  8.514438   9.768959
2067      11.630740  7.368164  10.652027   9.325616  8.645014   9.547425
2068      10.760765  6.067322   8.859180   8.255519  7.224945   7.832978
2069       9.873918  6.189973   8.564493   7.711397  7.924521   7.754384
2070      10.567370  7.609452   9.609890   8.334630  9.297616   8.289808

                BEL        MAL
Yr_Mo_Dy
1971      12.208932  15.025233
1972      12.727377  15.028716
1973      12.169699  15.441096
1974      13.252959  16.947671
1975      12.631671  15.307863
1976      12.332377  15.471448
1977      13.459068  16.590849
1978      12.967397  16.771370
2061      13.502795  13.680773
2062      12.930685  14.323956
2063      13.638877  14.999014
2064      13.740546  14.910301
2065      12.964247  15.591644
2066      14.265836  16.307260
2067      14.774548  17.135945
2068      12.808634  15.017486
2069      12.621233  15.762904
2070      13.183644  16.456027

In [8]:
df1['weekday'] = df1['Yr_Mo_Dy'].dt.weekday
print(df1['weekday'].head(3).to_frame())

   weekday
0        5
1        6
2        0

In [9]:
def weekcheck(x):
  if x in [5,6]:
    return 1
  else:
      return 0

df1['weekcheck'] = df1['weekday'].apply(weekcheck)

ans = df1['weekcheck'].head().to_frame()
print(ans)

   weekcheck
0          1
1          1
2          0
3          0
4          0

In [10]:
df1['WeekCheck']  = df1['weekday'].map(lambda x : 1 if x in [5,6] else 0)

Ans = df1['WeekCheck'].head(3).to_frame()
print(Ans)

   WeekCheck
0          1
1          1
2          0

In [11]:
ans = df1.groupby(df1['Yr_Mo_Dy'].dt.month).mean()
print(ans.head(4))

                              Yr_Mo_Dy        RPT        VAL        ROS  \
Yr_Mo_Dy
1        2025-02-04 22:40:00.000000000  14.847325  12.914560  13.299624
2        2025-02-20 00:22:40.629921280  13.710906  12.111122  12.879132
3        2025-04-05 04:00:00.000000000  13.158687  11.505842  12.648118
4        2025-05-05 16:00:00.000000000  12.555648  10.429759  12.204815

               KIL        SHA       BIR        DUB       CLA       MUL  \
Yr_Mo_Dy
1         7.199498  11.667734  8.054839  11.819355  9.512047  9.543208
2         6.942411  11.551772  7.633858  11.206024  9.341437  9.313169
3         7.265907  11.554516  7.959409  11.310179  9.635896  9.700324
4         6.898037  10.677667  7.441389  10.221315  8.909056  8.930870

                CLO        BEL        MAL   weekday  weekcheck  WeekCheck
Yr_Mo_Dy
1         10.053566  14.550520  18.028763  2.998208   0.288530   0.288530
2          9.518051  13.728898  17.156142  3.001969   0.285433   0.285433
3         10.096953  13.810609  16.909317  2.996416   0.283154   0.283154
4          9.158019  12.664759  14.937611  3.012963   0.288889   0.288889

In [16]:
df1 = df1.fillna(method='ffill').fillna(method='bfill')

In [18]:
df = df.fillna(method='ffill').fillna(method='bfill')
print(df1.isnull().sum())

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
weekcheck    0
WeekCheck    0
dtype: int64

In [25]:
ans = df1.groupby(df1.Yr_Mo_Dy.dt.to_period('M')).mean()
print(ans.head())

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1971-01  1971-01-16 00:00:00  15.098065  13.398387  13.080000  6.364194
1971-02  1971-02-14 12:00:00  11.724643   9.757143  10.311786  5.242143
1971-03  1971-03-16 00:00:00  10.844839   8.243226  11.228387  5.629032
1971-04  1971-04-15 12:00:00   9.884333   6.848000  11.187667  4.891333
1971-05  1971-05-16 00:00:00  11.200645   8.883548   9.564839  4.888387

                SHA       BIR        DUB       CLA       MUL       CLO  \
Yr_Mo_Dy
1971-01   11.342258  7.759677  10.297419  8.350000  8.979355  8.666774
1971-02    9.676786  5.492143   8.683929  7.075000  8.272857  7.833571
1971-03    8.960000  5.486774   9.061935  6.700000  8.494516  7.758387
1971-04    8.165000  5.319000   6.688000  5.856667  7.512667  6.051333
1971-05    8.322903  5.423226   5.875806  7.230323  7.494839  7.122581

                BEL        MAL   weekday  weekcheck  WeekCheck
Yr_Mo_Dy
1971-01   14.392581  16.360000  3.193548   0.322581   0.322581
1971-02   12.883929  15.863214  3.000000   0.285714   0.285714
1971-03   11.510000  15.678387  2.806452   0.258065   0.258065
1971-04    9.014000  12.301000  3.033333   0.266667   0.266667
1971-05   11.926129  13.107742  3.064516   0.322581   0.322581

In [26]:
ans = df1.RPT.diff()
print(ans)

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

In [29]:
ans= df1[['RPT','VAL']].rolling(window=7).mean()
print(ans)

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

In [30]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

df1 = df.copy()
df1.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15:15,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15:14,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15:13,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15:12,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15:11,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

In [36]:
import pandas as pd

def change_date(x):
  import datetime
  hour = x.split(':')[1]
  date = x.split(':')[0]

  if hour == '24':
    hour = '00:00:00'

    FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)

  else:
      hour = hour +':00:00'
      FinalDate = pd.to_datetime(date +" "+hour)

      return FinalDate

df1['(년-월-일:시)'] = df1['(년-월-일:시)'].apply(change_date)

ans = df1
print(ans.head())

            (년-월-일:시) PM10등급  PM10 PM2.5등급  PM2.5 오존등급     오존 이산화질소등급  이산화질소  \
0 2021-05-15 15:00:00     보통  47.0      보통   19.0   좋음  0.017      좋음  0.023
1 2021-05-15 14:00:00     보통  43.0      보통   20.0   좋음  0.024      좋음  0.019
2 2021-05-15 13:00:00     보통  34.0      보통   24.0   보통  0.035      좋음  0.017
3 2021-05-15 12:00:00     보통  41.0      보통   27.0   보통  0.037      좋음  0.020
4 2021-05-15 11:00:00     보통  51.0      보통   34.0   보통  0.033      좋음  0.023

  일산화탄소등급  일산화탄소 아황산가스등급  아황산가스
0      좋음    0.4      좋음  0.003
1      좋음    0.3      좋음  0.003
2      좋음    0.4      좋음  0.004
3      좋음    0.4      좋음  0.004
4      좋음    0.4      좋음  0.005

In [37]:
df1['dayname'] = df1['(년-월-일:시)'].dt.day_name()
print(df1.head(3))

            (년-월-일:시) PM10등급  PM10 PM2.5등급  PM2.5 오존등급     오존 이산화질소등급  이산화질소  \
0 2021-05-15 15:00:00     보통  47.0      보통   19.0   좋음  0.017      좋음  0.023
1 2021-05-15 14:00:00     보통  43.0      보통   20.0   좋음  0.024      좋음  0.019
2 2021-05-15 13:00:00     보통  34.0      보통   24.0   보통  0.035      좋음  0.017

  일산화탄소등급  일산화탄소 아황산가스등급  아황산가스   dayname
0      좋음    0.4      좋음  0.003  Saturday
1      좋음    0.3      좋음  0.003  Saturday
2      좋음    0.4      좋음  0.004  Saturday

In [49]:
ans1 = df1.groupby(['dayname','PM10등급'], as_index=False).size()
ans2 = ans1.pivot(index='dayname',columns='PM10등급',values='size').fillna(0)
print(ans2.head(3))

PM10등급      나쁨  매우나쁨     보통    좋음
dayname
Friday    30.0  17.0  113.0  21.0
Monday     1.0  21.0   80.0  59.0
Saturday  29.0  26.0   68.0  52.0

In [54]:
check = len(df['(년-월-일:시)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False

In [67]:
ans = df1.groupby(df1['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[0]]

TypeError: can only concatenate str (not "int") to str

In [72]:
df1.set_index('(년-월-일:시)',inplace=True,drop=True)
print(df1.head(3))

KeyError: "None of ['(년-월-일:시)'] are in the columns"

In [76]:
ans = df1.resample('W').agg(['min','max','mean','std'])
print(ans.head(3))

TypeError: '<=' not supported between instances of 'str' and 'float'

In [77]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')

df1 = df.copy()
df1.head(3)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]

In [86]:
df1.drop(['Indicator'],axis=1)
df1['First Tooltip'] = df1['First Tooltip'].map(lambda x: float(x.split(' ')[0]))
print(df1.head(3))

      Location  Period                                          Indicator  \
0  Afghanistan    2019  Under-five mortality rate (probability of dyin...
1  Afghanistan    2019  Under-five mortality rate (probability of dyin...
2  Afghanistan    2019  Under-five mortality rate (probability of dyin...

         Dim1  First Tooltip
0  Both sexes          60.27
1        Male          63.83
2      Female          56.57

In [88]:
ans = df1[(df1['Period'] >= 2015) & (df1['Dim1'] == 'Both sexes')]
print(ans.head(3))

      Location  Period                                          Indicator  \
0  Afghanistan    2019  Under-five mortality rate (probability of dyin...
3  Afghanistan    2018  Under-five mortality rate (probability of dyin...
6  Afghanistan    2017  Under-five mortality rate (probability of dyin...

         Dim1  First Tooltip
0  Both sexes          60.27
3  Both sexes          62.54
6  Both sexes          64.94

In [91]:
df2 = pd.DataFrame(ans.pivot(index='Location', columns='Period',values='First Tooltip'))
print(df2)

Period                                      2015   2016   2017   2018   2019
Location
Afghanistan                                70.44  67.57  64.94  62.54  60.27
Albania                                     9.57   9.42   9.42   9.53   9.68
Algeria                                    25.18  24.79  24.32  23.81  23.26
Andorra                                     3.53   3.37   3.22   3.09   2.97
Angola                                     88.20  84.21  80.62  77.67  74.69
...                                          ...    ...    ...    ...    ...
Syrian Arab Republic                       23.18  23.27  22.97  22.11  21.53
Tajikistan                                 37.75  36.82  35.81  34.80  33.78
Thailand                                   10.80  10.32   9.86   9.42   9.01
The former Yugoslav Republic of Macedonia  12.97  11.97   9.94   7.83   6.12
Timor-Leste                                50.76  49.01  47.27  45.62  44.22

[172 rows x 5 columns]

In [98]:
df3 = df1.pivot_table(index='Dim1',columns='Period',values='First Tooltip', aggfunc='mean')
print(df3)

Period            1950        1951        1952        1953        1954  \
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206  154.539857
Female      140.909796  149.210175  151.516094  150.250882  148.688286
Male        154.151224  161.538246  163.760781  161.742059  160.081000

Period            1955        1956        1957        1958        1959  ...  \
Dim1                                                                    ...
Both sexes  155.797179  159.241163  156.170114  150.813222  150.574000  ...
Female      149.843205  153.048721  149.988295  144.719667  144.451474  ...
Male        161.456923  165.089535  162.015000  156.573556  156.375053  ...

Period           2010       2011       2012       2013       2014       2015  \
Dim1
Both sexes  37.718488  35.573663  34.290988  33.099360  32.053314  31.012093
Female      34.953023  32.877616  31.654070  30.521337  29.524302  28.544360
Male        40.340174  38.140291  36.793081  35.543663  34.446105  33.354302

Period           2016       2017       2018       2019
Dim1
Both sexes  29.956337  29.030465  28.083837  27.191744
Female      27.542035  26.675291  25.782616  24.945349
Male        32.242616  31.273198  30.283023  29.350349

[3 rows x 70 columns]

In [100]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')
df1 = df.copy()
df1.head(3)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze

In [101]:
ans = df1[df1['Country'] == 'KOR']
print(ans.head(3))

      Year         City    Sport                 Discipline       Athlete  \
2652  1992  Albertville  Skating  Short Track Speed Skating   LEE, Jun-Ho
2653  1992  Albertville  Skating  Short Track Speed Skating  KIM, Ki-Hoon
2671  1992  Albertville  Skating  Short Track Speed Skating  KIM, Ki-Hoon

     Country Gender        Event   Medal
2652     KOR    Men        1000M  Bronze
2653     KOR    Men        1000M    Gold
2671     KOR    Men  5000M Relay    Gold

In [102]:
ans = ans.pivot_table(index='Year', columns='Medal',aggfunc='size').fillna(0)
print(ans.head(3))

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0

In [105]:
ans = df1.pivot_table(index='Sport',columns='Gender',aggfunc='size')
print(ans)

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

In [106]:
ans = df1.pivot_table(index='Discipline', columns='Medal', aggfunc='size')
print(ans)

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

In [108]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv',index_col= 0)

df1 = df.iloc[:4,:]
df2 = df.iloc[4:,:]

import pandas as pd

In [110]:
df3 = pd.concat([df1, df2])
print(df3)

                       2010    2011    2012    2013    2014    2015    2016  \
Location
Afghanistan          64.023  61.640  59.367  57.170  55.080  53.107  51.267
Albania              11.803  10.807   9.943   9.267   8.790   8.493   8.363
Algeria              23.540  22.907  22.450  22.117  21.850  21.587  21.257
Andorra               4.240   4.033   3.843   3.667   3.490   3.330   3.187
Angola               75.713  71.280  67.233  63.570  60.430  57.757  55.510
Antigua and Barbuda   8.667   8.223   7.807   7.420   7.070   6.757   6.483
Argentina            12.887  12.380  11.840  11.283  10.733  10.203   9.683
Armenia              16.497  15.677  14.897  14.170  13.477  12.817  12.183
Australia             3.993   3.803   3.623   3.467   3.343   3.253   3.183
Austria               3.573   3.463   3.333   3.210   3.113   3.043   2.987

                       2017    2018    2019
Location
Afghanistan          49.560  47.983  46.453
Albania               8.363   8.453   8.597
Algeria              20.850  20.407  19.930
Andorra               3.060   2.933   2.827
Angola               53.460  51.757  50.093
Antigua and Barbuda   6.230   6.000   5.783
Argentina             9.177   8.680   8.227
Armenia              11.583  11.007  10.497
Australia             3.137   3.090   3.047
Austria               2.943   2.897   2.843

In [111]:
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

In [112]:
df_all = pd.concat([df3,df4], join='inner')
print(df_all)

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170
Australia             3.467
Austria               3.210

In [113]:
df_all = pd.concat([df3,df4]).fillna(0)
print(df_all)

                       2010    2011    2012    2013    2014    2015    2016  \
Location
Afghanistan          64.023  61.640  59.367  57.170   0.000   0.000   0.000
Albania              11.803  10.807   9.943   9.267   0.000   0.000   0.000
Antigua and Barbuda   0.000   0.000   0.000   7.420   7.070   6.757   6.483
Argentina             0.000   0.000   0.000  11.283  10.733  10.203   9.683
Armenia               0.000   0.000   0.000  14.170  13.477  12.817  12.183
Australia             0.000   0.000   0.000   3.467   3.343   3.253   3.183
Austria               0.000   0.000   0.000   3.210   3.113   3.043   2.987

                       2017    2018    2019
Location
Afghanistan           0.000   0.000   0.000
Albania               0.000   0.000   0.000
Antigua and Barbuda   6.230   6.000   5.783
Argentina             9.177   8.680   8.227
Armenia              11.583  11.007  10.497
Australia             3.137   3.090   3.047
Austria               2.943   2.897   2.843

In [114]:
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

In [116]:
df_all2 = pd.merge(df5, df6, on='Algeria', how='inner')
print(df_all2)

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

In [117]:
df_all3 = pd.merge(df5, df6, on='Algeria', how='outer')
print(df_all2)

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51